Repository mfmsajidh/r-ainbow_phi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.{js,json,md,yml,yaml}": ["prettier --write"]
}

test: temporarily removes test
  scripts/hooks/pre-push.sh
Due: none

docs(readme.md): adds thorough documentation
  README.md
Due: prettier --write

docs(README.md): improves doc
  README.md
Due: prettier --write

feat: add csrf and rate limiting
  package.json
  src/app.module.ts
  src/common/guards/csrf.guard.ts
  src/common/middleware/csrf.middleware.ts
  src/config/csrf.config.ts
  src/main.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor: adds TODO comments
  src/app.module.ts
Due: eslint --fix, prettier --write
